<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.app.newstogo"
      android:versionCode="1"
      android:versionName="1.0">
    <!-- start Little Fluffy Location Library configuration -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <!-- end -->

    <!-- start NTG service configuration -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- end -->
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.app.newstogo.NTGApplication">
        <activity android:name="NTGActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="NTGRedirectActivity"
                  android:label="@string/app_name">
        </activity>

        <!-- start Little Fluffy Location Library configuration -->
        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />
        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver" android:exported="true">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>
        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver" android:exported="true" />
        <!-- end -->

        <!-- start NTG service configuration -->
        <service android:name="com.app.newstogo.NTGService" />
        <!-- end -->
    </application>
</manifest>
